# Ignore environment and secret files
.env
*.log
*.rdb
__pycache__/
output/
*.pyc
*.swp
*.sqlite
*.bak
.DS_Store
*.zip
*.tar.gz
*.tfstate
*.tfstate.*
.terraform/

# Python virtual environments
venv/
.env/

